@*
 *
 * to do sample project
 *
 *@
@import lib.model.Category.FormValue
@import helper._

@(vv: model.category.ViewValueCategoryForm, categoryForm : Form[FormValue])(
  implicit request: RequestHeader, messagesProvider: MessagesProvider
)

@linkToTop = @{ controllers.routes.HomeController.index().url }

@common.Default(vv) {
  <a class="link-to-top" href="@linkToTop"><- Homeに戻る</a>
  @helper.form( action = helper.CSRF(routes.CategoryController.add()) ){
    <fieldset class="form">
      @helper.inputText(categoryForm("name"), '_label -> "カテゴリ名")
      @helper.inputText(categoryForm("slug"), '_label -> "slug")
      @helper.select(
        field   =  categoryForm("color"),
        options =  vv.colors.map(c => (c.code.toString,c.color)),
        '_label -> "カテゴリカラー",
      )
    </fieldset>
    <input type="submit" value="保存">
  }
}

