

/**
 * to-do list
 */
.todo-list {
  position:      relative;
  width:         950px;
  margin:        50px 0px;
  padding:       30px 15px;
  border-radius: 7px;
  box-shadow:    4px 4px 4px 4px rgba(0,0,0,0.06);
}

.todo-list .todo-list__to-detail {
  position:      absolute;
  right:         50px;
  bottom:        20px;
}

.todo-list .todo-list__category-name {
  position:      absolute;
  right:         30px;
  display:       block;
  height:        35px;
  width:         150px;
  line-height:   35px; 
  text-align:    center;
  border-radius: 10px;
}

.link-to-add-todo {
  float:         right;
}

/**
 * add to-do
 */

.form {
  margin:         30px 0;
}
