@*
 *
 * to do sample project
 *
 *@
@import helper._

@(vv: model.site.category.ViewValueCategoryForm)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@linkToTop = @{ controllers.routes.HomeController.index().url }

@common.Default(vv) {
  <a class="link-to-top" href="@linkToTop"><- Homeに戻る</a>
  @helper.form( action = helper.CSRF(vv.postUrl) ){
    <fieldset class="form">
      @helper.inputText(vv.formData("name"), '_label -> "カテゴリ名")
      @helper.inputText(vv.formData("slug"), '_label -> "slug")
      @helper.select(
        field   =  vv.formData("color"),
        options =  vv.colors.map(c => (c.code.toString,c.value)),
        '_label -> "カテゴリカラー",
      )
    </fieldset>
    <input type="submit" value="保存">
  }
}

