@*
 *
 * to do sample project
 *
 *@

@(vv: model.todo.ViewValueTodo)

@linkToTop     = @{ controllers.routes.HomeController.index().url }
@linkToAddTodo = @{ controllers.routes.TodoController.add().url }

@Default(vv) {
  <a class="link-to-top" href="@linkToTop"><- Homeに戻る</a>
  <a class="link-to-add-todo" href="@linkToAddTodo">Todo新規作成</a>

  @for((todo,category) <- vv.tasks) {
    @todoList(todo,category)
  }
}

@todoList(todo: lib.model.Todo.EmbeddedId, category: lib.model.Category.EmbeddedId) = {
  <div class="todo-list">
    <a class="todo-list__to-detail" href="@controllers.routes.TodoController.showEditForm(todo.id)">
      編集
    </a>
    <span class="todo-list__category-name" style="background-color: @category.v.categoryColor.color">
      @category.v.name
    </span>
    <div class="todo-list__content"> 
      <h3 class="todo-list__content-title">[ @todo.v.title ]</h3>
      <p>@todo.v.body</p>
    </div>
    </ul>
  </div>
}
