@*
 *
 * to do sample project
 *
 *@

@import helper._
@import model.common.component._
 
@(vv: model.site.todo.ViewValueTodoList)(implicit request: RequestHeader)

@linkToTop     = @{ controllers.routes.HomeController.index().url }
@linkToAddTodo = @{ controllers.routes.TodoController.showAddForm().url }

@common.Default(vv) {
  <a class="link-to-top" href="@linkToTop"><- Homeに戻る</a>
  <a class="link-to-add-todo" href="@linkToAddTodo">Todo新規作成</a>

  @** todo 一覧 **@
  @for((todo,category) <- vv.todos) {
    @todoList(todo,category)
  }
}

@**
 * todoカード
 *@
@todoList(todo: ViewValueTodo, category: ViewValueCategory) = {
  <div class="todo-list">
    @helper.form(helper.CSRF(routes.TodoController.delete(todo.id)) ){
      <input class="todo-list__delete-button" type="submit" value="削除">
    }
    <a class="todo-list__to-detail" href="@controllers.routes.TodoController.showEditForm(todo.id)">
      編集
    </a>
    <span class="todo-list__category-name" style="background-color: @category.color.value">
      @category.name
    </span>
    <div class="todo-list__content">
      <span class="todo-list__content-status">@todo.status.value</span>
      <h3 class="todo-list__content-title">[ @todo.title ]</h3>
      <p>@todo.body</p>
    </div>
    </ul>
  </div>
}
